<div *ngIf="!isUserPresent">
  <span>
    Please enter a name an a language to start a chat
  </span>
  <form (ngSubmit)="continue()" #userForm="ngForm">
    <div class="form-group">
      <label for="user" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="user" id="user" [(ngModel)]="user" placeholder="Name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="language" class="col-sm-2 control-label">Language</label>
      <div class="col-sm-10">
        <select class="form-control" id="language" name="language" [(ngModel)]="language" required>
          <option value="en">English</option>
          <option value="es">Spanish</option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" id="continue" [disabled]="!userForm.valid">Continue</button>
        </div>
      </div>
  </form>
</div>
<div *ngIf="isUserPresent">
  <h2>Hello {{user}}!</h2>
  <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
    <div class="form-group">
      <input type="text" id="message" name="message" class="form-control" placeholder="write a message" [(ngModel)]="message" required>
      <button type="submit" class="btn btn-primary" id="sendmessage" [disabled]="!chatForm.valid">Send</button>
    </div>
  </form>
  <button class="btn btn-primary" id="scoreMessages" *ngIf="messages.length > 0" (click)="score()">Score</button>
  <div>
    <ul id="messages" name="messages" rows="10" readonly>
      <li *ngFor="let message of messages" [ngClass]="getClass(message)">
        <span>{{message.message}}</span>&nbsp;&nbsp;<span *ngIf="message.scored">|| Sentiment: {{message.score | percent }}</span>
      </li>
    </ul>
  </div>
</div>
